
StoreProject/StoreProject.Tests/obj/StoreProject.Tests.csproj.nuget.dgspec.json
*.dll
StoreProject/StoreProject.Tests/obj/StoreProject.Tests.csproj.nuget.g.props
StoreProject/StoreProject.Tests/obj/StoreProject.Tests.csproj.nuget.g.props
*.txt
*.props
*.ide-wal
